body {
  background-color: #9cc1bb;
  color: #000000;
  font-family: "Amatic SC", sans-serif;
  font-size: 2em;
  text-align: center;
}

.main{
  display: none;
}

.game{
  width: 980px;
  height: 730px;
  background-image: url(img/menu.png);
  margin: 80px auto;
}
.theHeader{
  margin: auto;
  color: #000000;
  font-size: 2em;
  font-family: "Amatic SC", sans-serif;
  position: relative;
  top:180px;
}

.newGame, .instructionsBtn, .backBtn, .soundBtn {
  text-align: center;
  vertical-align: middle;
  border: 2px solid #39483c;
  border-radius: 7px;
  background-color:#638b7e;
  color: #000000;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Amatic SC", sans-serif;
  width: 5em;
  margin: 5px auto;  
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 200px;
}

.newGame:hover{
  background-color: #9cc1bb;
}

.instructionsBtn:hover{
  background-color: #9cc1bb;
}

.soundBtn:active{
  background-color: pink;
}

.backBtn {
  display: none;
}

.backBtn:hover{
  background-color: #9cc1bb;
}

.instructions{
  margin: auto;
  color: #39483c;
  font-size: 1.5rem;
  font-family: "Amatic SC", sans-serif;
  display: none;
  background-color: inherit;
}