* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(img/orb.png);
  background-repeat: no-repeat;
  color: #ffffff;
  font-family: "Amatic SC", sans-serif;
  font-size: 2em;
  text-align: center;
}
canvas {
  max-width: 100%;
  max-height: 100%;
}
#mainHeader {
  margin: auto;
  color: #ffffff;
  font-size: 4rem;
  font-family: "Amatic SC", sans-serif;
  position: relative;
}
#mainMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}
#newGameBtn,
#instructionsBtn,
#backBtn {
  text-align: center;
  vertical-align: middle;
  border: 2px solid #39483c;
  border-radius: 7px;
  background-color: #638b7e;
  color: #1d251f;
  font-size: 2rem;
  font-family: "Amatic SC", sans-serif;
  width: 160px;
  margin: 5px auto;
}
#newGameBtn:hover {
  background-color: #9cc1bb;
}
#instructionsBtn:hover {
  background-color: #9cc1bb;
}
#backBtn:hover {
  background-color: #9cc1bb;
}
#instructions {
  margin: auto;
  color: #ffffff;
  font-size: 1.5rem;
  font-family: "Amatic SC", sans-serif;
  background-color: inherit;
}
#gameMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
  top: 5%;
  left: 5%;
  transform: translate(-5%, 5%);
}
#playPauseBtn {
  background: url(music/pause.png) no-repeat;
  width: 25px;
  height: 25px;
}
#highScoreBtn {
  background: url(music/highscore.png) no-repeat;
  width: 25px;
  height: 25px;
}
#mainMenuBtn {
  background: url(music/home.png) no-repeat;
  width: 25px;
  height: 25px;
}
#highestScoreMenu{
  display: none;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 5%;
  left: 5%;
  transform: translate(-5%, 5%);
  font-size: 1.5rem;
  font-family: "Amatic SC", sans-serif;
}
#box {
  width: 200px;
  height: 75px;
  border: 2px solid white;
}
