body {
    font-family: "Amatic SC", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    background-color: #9cc1bb;
}

button {
 font-size: 3.0rem;
 border-radius: 10%;
 border-color:lightgray;
}
#board {
    background-image: url(Images/Background.png);
}
.rectangle {
    width: 980px;
    height: 730px;
    background-color: #445545;
}