* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background:url(img/orb.png);
  background-repeat: no-repeat;
  color: #ffffff;
  font-family: "Amatic SC", sans-serif;
  font-size: 2em;
  text-align: center;
 
  user-select: none;
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
canvas {
  max-width: 100%;
  max-height: 100%;
}
#gameImages{
  display: none;
}
#mainHeader {
  margin: auto;
  color: #ffffff;
  font-size: 4rem;
  font-family: "Amatic SC", sans-serif;
  position: relative;
}
#mainMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}
#newGameBtn,
#instructionsBtn,
#backBtn, #aboutBtn {
  text-align: center;
  vertical-align: middle;
  border: 2px solid #39483c;
  border-radius: 7px;
  background-color: #638b7e;
  color: #1d251f;
  font-size: 2rem;
  font-family: "Amatic SC", sans-serif;
  width: 160px;
  margin: 5px auto;
}
#newGameBtn:hover {
  background-color: #9cc1bb;
}
#instructionsBtn:hover {
  background-color: #9cc1bb;
}
#backBtn:hover {
  background-color: #9cc1bb;
}
#aboutBtn:hover {
  background-color: #9cc1bb;
}
#instructions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  margin: auto;
  width:65%;
  top: 5%;
  left: 5%;
  padding:25px;
  transform: translate(-5%, 10%);
  color: #ffffff;
  font-size: 1.5rem;
  font-family: "Amatic SC", sans-serif;
  background-color: inherit;
}
#about{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  margin: auto;
  width:65%;
  top: 5%;
  left: 5%;
  padding:25px;
  transform: translate(-5%, 10%);
  color: #ffffff;
  font-size: 1.5rem;
  font-family: "Amatic SC", sans-serif;
  background-color: inherit;
}
#gameMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
  top: 5%;
  left: 5%;
  transform: translate(-5%, 5%);
}
#play{
  display:none;
}
#highestScoreMenu{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  padding-top: 25px;
  top: 5%;
  left: 5%;
  transform: translate(-5%, 5%);
  font-size: 1.5rem;
  font-family: "Amatic SC", sans-serif;
}
#box {
  width: 200px;
  height: 75px;
  border: 2px solid white;
  background-color: #80808075;
}
#restartBtn{
  text-align: center;
  vertical-align: middle;
  border: 2px solid #39483c;
  border-radius: 7px;
  background-color: #638b7e;
  color: #000000;
  font-size: 2rem;
  font-family: "Amatic SC", sans-serif;
  width: 160px;
  margin: 5px auto;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
#win{
  display: none;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -15%);
  max-width: 100%;
  max-height: 100%;
}